:root {
  /* colors palette*/
  --bg-blue: #0d2b3c;
  --bg-gray: #171717;
  --bg-black: #0A0A0A;
  --input-gray: #262626;
  --text-gray: #373737;
  --placeholder-gray: #A3A3A3;
  --text-white: #D4D4D4;
  --user-bubble: #4A5C6A;
  --bot-bubble: #2E2E2E;
}


body, #root {
  font-family: "Poppins", serif;
  background-color: var(--bg-blue);
  color: var(--text-white);
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
